* {
  padding: 0;
  margin: 0;
}

:root {
  --pink-light: hsl(321, 100%, 78%);
  --pink-darker: hsl(322, 100%, 66%);
  --theme-white: #fff;
}


.header-section {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.try-it-free-button {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid var(--pink-darker);
  color: var(--pink-darker);
  background-color: var(--theme-white);
}

.try-it-free-button:hover {
  cursor: pointer;
  color: hsl(321, 100%, 78%);
  border-color: hsl(321, 100%, 78%);
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Poppins", sans-serif;
}

.heading-info {
  width: 500px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.get-started-button {
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: none;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 1px 10px 10px -4px rgba(122, 103, 103, 0.75);
  -webkit-box-shadow: 1px 10px 10px -4px rgba(122, 103, 103, 0.75);
  -moz-box-shadow: 1px 10px 10px -4px rgba(122, 103, 103, 0.75);
  margin-bottom: 70px;
}

.screen-mockups-image img {
  margin: 70px;
  width: 500px;
  height: 250px;
}

.communitiesandmessages-sect-flex {
  display: flex;
  justify-content: center;
  gap: 400px;
  margin-top: 60px;
}

.comm-formed h1,
.msgs-sent h1 {
  font-size: 86px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
}

.communitiesandmessages-sect-flex img {
  width: 30px;
}

.comm-formed p,
.msgs-sent p {
  font-size: 19px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: grey;
  margin-bottom: 120px;
}

.top-desktop1 {
  width: 100%;
  margin-bottom: -30px;
}
.bottom-desktop1 {
  width: 100%;
  margin-top: -90px;

}

.second-section {
  background-color: hsl(207, 100%, 98%);
  margin-top: -70px;
}

.second-section-wrapper {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: hsl(192, 100%, 9%);
}

.second-section img {
  width: 500px;
}

.description {
  width: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

.sub-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.info {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.third-section img {
  width: 500px;
}

.third-section-wrapper {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  color: hsl(192, 100%, 9%);
  gap: 100px;
}


.top-desktop2 {
  width: 100%;
  margin-bottom: -20px;
}
.bottom-desktop2 {
  width: 100%;
  margin-top: -90px;

}

.fourth-section-wrapper {
  display: flex;
  margin-bottom: 90px;
  background-color: hsl(207, 100%, 98%);
  height: 500px;
  align-items: center;
  justify-content: center;
  color: hsl(192, 100%, 9%);
}

.fourth-section img {
  width: 450px;
}

.last-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-sect-title {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.footer-curve-img {

  width: 100%;
  margin-bottom: -10px;

}


.footer {
  background-color:hsl(192, 100%, 9%) ;
  height: 500px;
  color: white;
  padding: 80px;
  font-family: "Open Sans", sans-serif;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 500px;
  margin: auto;
}

.footer-info-left {
  width: 400px;
  line-height: 1.5;
}

.footer p {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.newslettersection {
  width: 300px;
  margin-right: 90px;
  line-height: 1.5;
  margin-top: 20px;
}

.newsletter-uppercase {
  font-size: 19px;
  text-transform: uppercase;
}

.phone-section-footer-flex,
.email-section-footer-flex {
  display: flex;
  gap: 20px;
  margin-bottom: -20px;
}

.phone-section-footer-flex img,
.email-section-footer-flex img {
  width: 20px;
  margin-top: 19px;
}

.footer-huddle-logo-white img {
  margin-bottom: 30px;
}

.subscribe-section-flex > input {
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.subscribe-section-flex {
  display: flex;
  gap: 30px;
}

.subscribe {
  height: 30px;
  width: 100px;
  background-color: var(--pink-darker);
  color: var(--theme-white);
  font-size: 13px;
  border-radius: 5px;
  border: none;
}

.social-media-icons-flex {
  margin-top: 70px;
  display: flex;
  gap: 40px;
  
}

.twitter-icon:hover {
  
  cursor: pointer;
  
}


@media (min-width: 420px) and (max-width: 967px) {
   
    
    .main-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-huddle-logo-black img {
      width: 140px;
    }

    .header-section {
      width: 90%;
      margin-top: 40px;
      margin-bottom: 150px;
      
    }

    .first-section {
      width: 400px;
      text-align: center; 
      
    }

    .heading-info {
      width: 360px;
      margin-top: 40px;
      margin-bottom: 60px;
      font-size: 17px;
    }

    .get-started-button {
      font-size: 16px;
      margin-bottom: 140px;
    }

    .screen-mockups-image  {
      width: 400px;
      height: 300px;
    }

    .communitiesandmessages-sect-flex {
      flex-direction: column;
      gap: 50px;
      margin-top: 200px;
    }

    .comm-formed h1, .msgs-sent h1 {
      font-size: 76px;
      
    }

    .communitiesandmessages-sect-flex img {
      width: 40px;
    }

   

    
    
    


    



    



}